{% extends 'page.twig' %}

{% block title 'Overview' %}

{% block content %}
<div id="content">
  <h1>{{ project }} {{ version }} API</h1>

  <h2>Namespace Tree</h2>
  <ul>
    {% macro showNamespace(namespace) %}
      <li>
        <a href="{{ namespace.qualifiedName|namespace_to_url }}">{{ namespace.qualifiedName|default(namespace.name) }}</a>
        <ul>
        {% for child in namespace.children %}
          {{ _self.showNamespace(child) }}
        {% endfor %}
        </ul>
      </li>
    {% endmacro %}

    {% for ns in namespaces %}
      {{ _self.showNamespace(ns) }}
    {% endfor %}
  </ul>
</div>
{% endblock %}
