{% extends 'layout.twig' %}

{% block title 'Overview' %}

{% block content %}
<div id="content">
	<h1>CakePHP {{ config.version }} Overview</h1>

	<div class="section" id="namespaces">
		<h3>Namespaces summary</h3>
		<ul class="summary-list">
			{% for namespace in namespaces %}
				<li>
					<a href="{{ namespace|ns_to_url }}">{{ namespace|to_name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="section" id="functions">
		<h3>Functions summary</h3>
		<ul class="summary-list">
			{% for function in functions %}
				<li>
					<a href="{{ function|to_url }}">{{ function|to_name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="section" id="constants">
		<h3>Constants summary</h3>
		<ul class="summary-list">
			{% for constant in constants %}
				<li>
					<a href="{{ constant|to_url }}">{{ constant|to_name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
