{% extends 'layout.twig' %}

{% block title %}
	{{ type|capitalize ~ ' ' ~ classlike.fqsen|to_name }}
{% endblock %}

{% block content %}
<div id="content" class="class">
	<h1>{{ block('title') }}</h1>

	<div class="description">
		{{ classlike|docblock.summary|markdown_to_html }}
		{{ classlike|docblock.description|markdown_to_html }}
	</div>

	{#{{ macros.showInheritanceTree(classlike.inheritanceTree) }}#}

    {#
	{% macro children(title, children = []) %}
		{% if children is not empty %}
			<h6>{{ title }}</h6>
			<ul>
				{% for child in children %}
					<li>
						<a href="{{ child.url }}">
							{{ child.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endmacro %}

	{{ _self.children('Direct Subclasses', class.subclasses) }}
    #}

	{#
	<div class="section description" n:if="$directSubClasses">
		<h6>Direct Subclasses</h6>
		{include #children, children => $directSubClasses}
	</div>

	<div class="section description" n:if="$indirectSubClasses">
		<h6>Indirect Subclasses</h6>
		{include #children, children => $indirectSubClasses}
	</div>

	<div class="section description" n:if="$directImplementers">
		<h6>Direct Implementers</h6>
		{include #children, children => $directImplementers}
	</div>

	<div class="section description" n:if="$indirectImplementers">
		<h6>Indirect Implementers</h6>
		{include #children, children => $indirectImplementers}
	</div>

	<div class="section description" n:if="$directUsers">
		<h4>Direct Users</h4>
		{include #children, children => $directUsers}
	</div>

	<div class="section description" n:if="$indirectUsers">
		<h4>Indirect Users</h4>
		{include #children, children => $indirectUsers}
	</div>
	#}

	<div class="info">
        {% if type == 'class' %}
            {% if classlike.final %}
			    <b>Final</b><br>
            {% endif %}
            {% if classlike.abstract %}
			    <b>Abstract</b><br>
            {% endif %}
        {% endif %}

		<b>Namespace:</b> <a href="{{ classlike|to_namespace|ns_to_url }}">{{ classlike|to_namespace|to_path }}</a><br>

		{% for tag in classlike.tags('deprecated') %}
			<b>Deprecated since {{ tag.version }}:</b> {{ tag.description }}<br>
		{% endfor %}
		{% for tag in classlike.tags('see') %}
            <b>See:</b> {{ tag.reference ~ ' ' ~ tag.description }}<br>
        {% endfor %}
		{% for tag in classlike.tags('link') %}
            <b>Link:</b> <a href="{{ tag.link }}">{{ tag.link }}</a> {{ tag.description }}<br>
		{% endfor %}
	</div>

    {% if collapsed.constants is not empty %}
	<div class="section">
		<h2>Constants summary</h2>
		<ul class="member-summary constants">
		{% for constant in collapsed.constants %}
			<li class="clearfix">
				<a id="{{ constant.source|to_name }}"></a>
				<div class="attributes col-md-2 col-sm-2 p0">
					<code>{{ constant.docBlock|tags('var')|first.type }}</code>
				</div>

				<div class="name col-md-10 col-sm-10">
					<b>{{ constant.source|to_name }}</b>
					<a href="#{{ constant.source|to_name }}" class="permalink" title="Permalink to this constant">¶</a>
				</div>

				<div class="col-md-10 col-md-offset-2">
					<code>{{ constant.source.element.value }}</code>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
    {% endif %}

    {% if collapsed.properties is not empty %}
	<div class="section">
		<h2>Properties summary</h2>
		<ul class="member-summary properties">
			{% for property in collapsed.properties %}
				<li class="clearfix">
					<div class="name">
                        <a href="{{ property.source|to_url }}">${{ property.source|to_name }}</a>

						<span class="attributes">
							<span class="label">{{ property.source.element.visibility }}</span>

							{% if property.source.element.static %}
								<span class="label">static</span>
							{% endif %}
                            {#
							{% if property.annotations.annotated is defined %}
								<span class="label">annotated</span>
							{% endif %}
                            #}
						</span>
					</div>

					<div class="property-type"><code>{{ property.docBlock|tags('var')|first.type }}</code></div>

					<div class="description">
						{{ property.docBlock.summary|markdown_to_html }}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
    {% endif %}

    {% if collapsed.methods is not empty %}
	<div class="section">
		<h2>Method Summary</h2>
		<ul class="member-summary">
			{% for method in collapsed.methods %}
				<li class="clearfix">
					<h5 class="method-name">
                    <a href="{{ method.source|to_url }}">{{ method.source|to_name }}()</a>

                    {% if method.source.element.abstract %}
                        <span class="label">abstract</span>
                    {% endif %}
                    {% if method.source.element.final %}
                        <span class="label">final</span>
                    {% endif %}

					<span class="label">{{ method.source.element.visibility }}</span>
					{% if method.source.element.static %}
						<span class="label">static</span>
					{% endif %}
                    {#
					{% if method.annotations.annotated is defined %}
						<span class="label">annotated</span>
					{% endif %}
                    #}
					{% if method.docBlock.tags.deprecated is not empty %}
						<span class="label">deprecated</span>
					{% endif %}
					</h5>
					<div class="description detailed">
						{{ method.docBlock.summary|markdown_to_html }}
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="section">
		<h2>Method Detail</h2>
		{% for method in collapsed.methods %}
			<div class="method-detail">
				<a id="{{ method.source|to_name }}"></a>
				<h3 class="method-name">
					{{ method.source|to_name }}()

                    {% if method.source.element.abstract %}
                        <span class="label">abstract</span>
                    {% endif %}
                    {% if method.source.element.final %}
                        <span class="label">final</span>
                    {% endif %}

					<span class="label">{{ method.source.element.visibility }}</span>
					{% if method.source.element.static %}
						<span class="label">static</span>
					{% endif %}
                    {#
					{% if method.annotations.annotated is defined %}
						<span class="label">annotated</span>
					{% endif %}
                    #}
					{% if method.docBlock.tags.deprecated is not empty %}
						<span class="label">deprecated</span>
					{% endif %}
					</h5>
					<a href="{{ method.source|to_url }}" class="permalink" title="Permalink to this method">¶</a>
				</h3>
				<p class="method-signature">
					{{ method.source|to_name }}(
						{% for argument in method.source.element.arguments %}
							{{ argument.type }}
								<var>${{ argument.name }}</var>{{ loop.last?'':',' }}
						{% endfor %}
					)
				</p>

				<div class="description detailed">
					{{ method.docBlock.summary|markdown_to_html }}
					{{ method.docBlock.description|markdown_to_html }}

					{% if method.source.element.arguments is not empty %}
						<h6>Parameters</h6>
						<div class="parameter-list list">
						<dl>
							{% for argument in method.source.element.arguments %}
								<dt>
									<code>{{ method.docBlock|param(argument.name).type ?? argument.type }}</code>
									<var>${{ argument.name }}</var>
									{% if argument.default is not empty %}
                                        <span class="label">optional</span>
									{% endif %}
								</dt>
								<dd>{{ (method.docBlock|param(argument.name).description ?? '')|markdown_to_html }}</dd>
							{% endfor %}
						</dl>
						</div>
					{% endif %}

                    {% set return = method.docBlock|tags('return', true) %}
					{% if return is not empty and return.type != 'void' %}
						<h6>Returns</h6>
						<div class="list">
							<code>{{ return.type }}</code><br>
							{{ (return.description ?? '')|markdown_to_html }}
						</div>
					{% endif %}

					{% if method.docBlock|tags('throws') %}
						<h6>Throws</h6>
						<div class="list">
							{% for throw in method.docBlock|tags('throws') %}
								<code>{{ throw.type|to_path }}</code><br>
								{{ throw.description }}{{ loop.last?'':'<br>' }}
							{% endfor %}
						</div>
					{% endif %}

					{% if method.docBlock|tags('see') %}
						<h6>See Also</h6>
						<div class="list">
							{% for see in method.docBlock|tags('see') %}
								{{ see.reference }}</a><br>
								{{ see.description }}{{ loop.last?'':'<br>' }}
							{% endfor %}
						</div>
					{% endif %}

					{% if method.docBlock|tags('link') %}
						<h6>Links</h6>
						<div class="list">
							{% for link in method.docBlock|tags('link') %}
								<a href="{{ link.link }}">link.link</a><br>
								{{ link.description }}{{ loop.last?'':'<br>' }}
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
    {% endif %}

    {% if collapsed.properties is not empty %}
	<div class="section">
		<h2>Property Detail</h2>
		{% for property in collapsed.properties %}
			<div class="property-detail">
				<a id="{{ property.source|to_name }}"></a>
				<h3 class="property-name">
					<var>${{ property.source|to_name }}</var>
					<a href="{{ property.source|to_url }}" class="permalink" title="Permalink to this method">¶</a>

					<span class="label">{{ property.source.element.visibility }}</span>

					{% if property.source.element.static %}
						<span class="label">static</span>
					{% endif %}
					{% if property.source.element.annotated %}
						<span class="label">annotated</span>
					{% endif %}
                </h3>

				<div class="description detailed">
					{{ property.docBlock.summary|markdown_to_html }}
					{{ property.docBlock.description|markdown_to_html }}

                    <h6>Type</h6>
                    <div class="list">
                        <code>{{ property.docBlock|tags('var', true).type }}</code><br>
                    </div>
				</div>
			</div>
		{% endfor %}
	</div>
    {% endif %}
</div>
{% endblock %}
