{% extends 'layout.twig' %}

{% block title classLikeType|capitalize ~ ' ' ~ classLike.name %}

{% block content %}
<div id="content" class="class">
  <h1>
    {{ classLikeType|capitalize }}
    {% if classLike.doc.node.getDeprecatedTagValues() %}
      <div class="deprecated" style="display: inline">{{ classLike.name }}</div>
    {% else %}
      {{ classLike.name }}
    {% endif %}
  </h1>

  <div class="description">
    {{ classLike.doc.summary|markdown_to_html }}
    {{ classLike.doc.description|markdown_to_html }}
  </div>

  {#{{ macros.showInheritanceTree(classlike.inheritanceTree) }}#}

  <div class="info">
    {% if classLikeType == 'class' %}
      {% if classLike.final %}
        <b>Final</b><br>
      {% endif %}
      {% if classLike.abstract %}
        <b>Abstract</b><br>
      {% endif %}
    {% endif %}

    <b>Namespace:</b> <a href="{{ classLike.context.namespace|namespace_url }}">{{ classLike.context.namespace }}</a><br>

    {% for tag in classLike.doc.node.getDeprecatedTagValues() %}
      <b style="color: #be0000">Deprecated:</b> {{ tag.description }}<br>
    {% endfor %}

    {% if classLike.doc.node.getTagsByName('@experimental') %}
      <b style="color: #5500be">Experimental:</b> Expect API changes in minor releases.<br>
    {% endif %}

    {% for tag in classLike.doc.node.getTagsByName('@see') %}
      <b>See:</b> {{ tag.value.value }}<br>
    {% endfor %}

    {% for tag in classLike.doc.node.getTagsByName('@link') %}
      <b>Link:</b> {{ tag.value.value }}<br>
    {% endfor %}
  </div>

  {% if classLike.constants is not empty %}
    {{ include('sections/constant-detail.twig', {constants: classLike.constants}) }}
  {% endif %}

  {% if classLike.properties is not empty %}
    {{ include('sections/property-summary.twig', {properties: classLike.properties}) }}
  {% endif %}

  {% if classLike.methods is not empty %}
    {{ include('sections/function-summary.twig', {functions: classLike.methods}) }}

    {{ include('sections/function-detail.twig', {functions: classLike.methods}) }}
  {% endif %}

  {% if classLike.properties is not empty %}
    {{ include('sections/property-detail.twig', {properties: classLike.properties}) }}
  {% endif %}
</div>
{% endblock %}
