<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title 'API' %} | {{ config.project ~ ' ' ~ config.version }}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="./resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="./resources/favicons/manifest.json">
    <link rel="mask-icon" href="./resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-config" content="./resources/favicons/browserconfig.xml" />
    
    <meta name="apple-mobile-web-app-title" content="API - CakePHP">
    <meta name="application-name" content="API - CakePHP">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" type="text/css" href="./resources/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./resources/css/styles.css">
    <link rel="stylesheet" type="text/css" href="./resources/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="./resources/css/prism.css">

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.cookie.js"></script>
    <script type="text/javascript" src="./js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="./js/jquery.sortElements.js"></script>
    <script type="text/javascript" src="./js/jquery.sprintf.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/vendor.js"></script>
    <script type="text/javascript" src="./js/prism.js"></script>
    <script type="text/javascript" src="searchlist.js"></script>
    <script>
    $(document).ready(function () {
        $('pre > code').addClass('language-php');
    });
    </script>
</head>

<body>

<div id="container">
    {{ include('header.twig') }}

    <div class="container page-container">
        <div class="row">
            <div id="class-nav" class="col-md-3 hidden-sm hidden-xs">
                <div id="menu">
                    <div id="groups">
                        <h3 class="nav-title">Namespaces</h3>
                        <ul class="nav-list">
                            {% macro ns_list(fqsen, alwaysShowChildren = false) %}
                                {% set isActive = fqsen is startof(activeFqsen) %}
                                <li class="{{ isActive ? 'active' : '' }}">
                                    <a href="{{ fqsen|ns_to_url }}">{{ fqsen|to_name }}</a>
                                    {% if isActive or alwaysShowChildren %}
                                    <ul>
                                        {% for child in fqsen|ns_to_children %}
                                            {{ _self.ns_list(child) }}
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                            {% endmacro %}
                            {{ _self.ns_list(projectFqsen, true) }}
                        </ul>
                    </div>
                </div>
            </div>

            <div id="right" class="col-md-9">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</div>

{{ include('footer.twig') }}
</body>
</html>
