{% macro inheritanceTreeNode(node, nodeCount) %}
    {% if node is not null %}
        {% set isLast = (node|children('class') is empty) %}
        <dd style="padding-left:{{ nodeCount * 30}}px">
            {% if nodeCount > 0 %}
                <img src="../../resources/inherit.png" alt="Extended by">
            {% endif %}
            {{ isLast?'<b>':'' }}<span>{{ _self.linkFqsen(node.fqsen) }}</span>{{ isLast?'</b>':'' }}
            {% if node|children('interface') is not empty %}
                implements
                {% for interface in node|children('interface') %}
                    <span>{{ _self.linkFqsen(interface.fqsen) }}</span>{{ loop.last?'':',' }}
                {% endfor %}
            {% endif %}
            {% if node|children('trait') is not empty %}
                uses
                {% for trait in node|children('trait') %}
                    <span>{{ _self.linkFqsen(trait.fqsen) }}</span>{{ loop.last?'':',' }}
                {% endfor %}
            {% endif %}
        </dd>
        {% if not isLast %}
            {{ _self.inheritanceTreeNode(node|children('class')|first, nodeCount + 1) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro showInheritanceTree(node) %}
    {% set nodeCount = 0 %}
	<dl class="tree">
        {% apply spaceless %}
            {{ _self.inheritanceTreeNode(node) }}
        {% endapply %}
	</dl>
{% endmacro %}

{% macro linkFqsen(fqsen, type) %}
    {% set url = fqsen|fqsen_url(type) %}
    {% apply spaceless %}
        {% if url is not empty %}
            <a href="{{ url }}">{{ fqsen|fqsen }}</a>
        {% else %}
            {{ fqsen|fqsen }}</a>
        {% endif %}
    {% endapply %}
{% endmacro %}

{% macro linkName(fqsen, type) %}
    {% set url = fqsen|fqsen_url(type) %}
    {% apply spaceless %}
        {% if url is not empty %}
            <a href="{{ url }}">{{ fqsen|name }}</a>
        {% else %}
            {{ fqsen|fqsen }}</a>
        {% endif %}
    {% endapply %}
{% endmacro %}
