{% extends 'layout.twig' %}

{% block title 'Namespace ' ~ loaded.fqsen|fqsen_to_name %}

{% block content %}
<div class="section namespace">
  <h1>Namespace {{ loaded.fqsen|fqsen_to_name }}</h1>

  {% if loaded.children is not empty %}
    <div>
      <h3>Namespaces</h3>
      <ul class="summary-list">
        {% for child in loaded.children %}
        <li>
          <a href="{{ child.fqsen|fqsen_to_url('namespace') }}">{{ child.fqsen|fqsen_to_name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% macro section(title, elements, type) %}
    {% if elements is not empty %}
      <div class="section">
        <h3>{{ title }}</h3>
        <ul class="summary-list">
          {% for element in elements %}
            <li>
              <h5><a href="{{ element.fqsen|fqsen_to_url(type) }}">{{ element.fqsen|fqsen_to_name }}</a></h5>
              {{ element|docblock.summary|markdown_to_html }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endmacro %}

  {{ _self.section('Interfaces', loaded.interfaces, 'interface') }}
  {{ _self.section('Classes', loaded.classes, 'class') }}
  {{ _self.section('Traits', loaded.traits, 'trait') }}
</div>
{% endblock %}
