{% extends 'layout.twig' %}

{% block title 'Namespace ' ~ namespace.name %}

{% block content %}
<div class="section namespace">
  <h1>Namespace {{ namespace.name }}</h1>

  {% if namespace.children is not empty %}
    <div>
      <h3>Namespaces</h3>
      <ul class="summary-list">
        {% for child in namespace.children %}
        <li>
          <a href="{{ child.namespaced|namespace_url }}">{{ child.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if namespace.functions is not empty %}
    {{ include('sections/function-detail.twig', {title: 'Function', functions: namespace.functions}) }}
  {% endif %}

  {% if namespace.constants is not empty %}
    {{ include('sections/constant-detail.twig', {constants: namespace.constants}) }}
  {% endif %}

  {% macro showClassLikes(type, title, classLikes, type) %}
    {% if classLikes is not empty %}
      <div class="section">
        <h3>{{ title }}</h3>
        <ul class="summary-list">
          {% for classLike in classLikes %}
            <li>
              <h5><a href="{{ classLike.namespaced|url(type) }}">{{ classLike.name }}</a></h5>
              {{ classLike.doc.summary|markdown_to_html }}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endmacro %}

  {{ _self.showClassLikes('interface', 'Interfaces', namespace.interfaces, 'interface') }}
  {{ _self.showClassLikes('class', 'Classes', namespace.classes, 'class') }}
  {{ _self.showClassLikes('trait', 'Traits', namespace.traits, 'trait') }}
</div>
{% endblock %}
