{% extends 'layout.twig' %}

{% block title 'Overview' %}

{% block content %}
<div id="content">
	<h1>CakePHP {{ config.version }} Overview</h1>

	<div class="section" id="namespaces">
		<h3>Namespaces summary</h3>
		<ul class="summary-list">
			{% for namespace in namespaces %}
				<li>
					<a href="{{ namespace|ns_to_url }}">{{ namespace|to_path }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	{% macro section(title, elements) %}
		{% if elements is not empty %}
			<div class="section">
				<h3>{{ title }} summary</h3>
				<ul class="summary-list">
					{% for element in elements %}
						<li>
							{{ element|to_path }}
                            {{ element|docblock.summary|markdown_to_html }}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endmacro %}

	{{ _self.section('Functions', functions) }}
	{{ _self.section('Constants', constants) }}
</div>
{% endblock %}
