<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title 'API' %} | {{ config.project ~ ' ' ~ config.version }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="./resources/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./resources/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./resources/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="./resources/favicons/favicon.ico"/>
  <link rel="manifest" href="./resources/favicons/manifest.json">
  <link rel="mask-icon" href="./resources/favicons/safari-pinned-tab.svg" color="#D33C44">
  <meta name="msapplication-config" content="./resources/favicons/browserconfig.xml" />

  <meta name="apple-mobile-web-app-title" content="API - CakePHP">
  <meta name="application-name" content="API - CakePHP">
  <meta name="msapplication-TileColor" content="#D33C44">
  <meta name="theme-color" content="#D33C44">

  <link rel="stylesheet" type="text/css" href="./resources/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./resources/css/styles.css">
  <link rel="stylesheet" type="text/css" href="./resources/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="./resources/css/prism.css">

  <script type="text/javascript" src="./js/jquery.min.js"></script>
  <script type="text/javascript" src="./js/jquery.cookie.js"></script>
  <script type="text/javascript" src="./js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="./js/jquery.sortElements.js"></script>
  <script type="text/javascript" src="./js/jquery.sprintf.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script type="text/javascript" src="./js/vendor.js"></script>
  <script type="text/javascript" src="./js/prism.js"></script>
  <script type="text/javascript" src="searchlist.js"></script>
  <script>
  $(document).ready(function () {
    $('pre > code').not('[class |= language]').addClass('language-php');
  });
  </script>
</head>

<body>

<div id="container">
  {{ include('header.twig') }}

  <div class="container page-container">
    <div class="row">
      <div id="class-nav" class="col-md-3 hidden-sm hidden-xs">
        <div id="menu">
          <div id="groups">
            <h3 class="nav-title">Namespaces</h3>
            <ul class="nav-list">
              {% macro showNamespace(context, namespace) %}
                {% set isActive = context.namespace is defined ? context.namespace.hasAncestor(namespace) : false %}
                <li class="{{ isActive ? 'active' : '' }}">
                  <a href="{{ namespace.qualifiedName|namespace_url }}">{{ namespace.name }}</a>
                  {% if isActive and namespace.children %}
                  <ul>
                    {% for child in namespace.children %}
                      {{ _self.showNamespace(context, child) }}
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              {% endmacro %}

              {% if project.global %}
                {{ _self.showNamespace(_context, project.global) }}
              {% endif %}
              {{ _self.showNamespace(_context, project.root) }}
            </ul>
          </div>
        </div>
      </div>

      <div id="right" class="col-md-9">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>

{{ include('footer.twig') }}
</body>
</html>
