<div class="section">
  <h2>Property Summary</h2>
  <ul class="member-summary properties">
    {% for property in properties %}
      <li class="clearfix">
        <div class="name">
        <a href="#${{ property.name }}">${{ property.name }}</a>

          <span class="attributes">
            <span class="label">{{ property.visibility }}</span>

            {% if property.static %}
              <span class="label">static</span>
            {% endif %}
            {% if property.annotation %}
              <span class="label annotation">{{ property.annotation }}</span>
            {% endif %}
            {% if property.doc.tags.deprecated is defined %}
              <span class="label">deprecated</span>
            {% endif %}
          </span>
        </div>

        {% if property.type %}
        <div class="property-type"><code>{{ property.type|type }}</code></div>
        {% endif %}

        <div class="description">
          {{ property.doc.summary|markdown_to_html }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
